<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/parks" method="post">
        <h2>New Quote</h2>
        <label for="name">
          Name:
          <input type="text" name="name">
        </label>
        <label for="location">
            Location:
          <input type="text" name="location">
        </label>
        <label for="borough">
            Borough:
            <input type="text" name="borough">
        </label>
        <label for="open">
            Is It Open?
            <input type="checkbox" name="open" value="Yes">
        </label>
        <label for="handicap">
            Handicap Accessible?
            <input type="checkbox" name="handicap" value="Yes">
        </label>
        <button type="submit">Create</button>
      </form>
</body>
</html>