<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <% parks.forEach((park) => { %>
            <p>Name: <%=park.name %></p>
            <p>Location: <%=park.location %></p>
            <p>Open: <%park.open %></p>
            <p>Handicap Accessible: <%park.handicap %></p>
            <% }) %>
    </div>
</body>
</html>